# Virtual Environment
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Model files
*.pt
*.pkl

# Data
data/

# IDE
.vscode/
.idea/

# Logs
*.log

# Docker
docker/mosquitto_data/
docker/influxdb_data/
docker/grafana_data/

# OS
.DS_Store
Thumbs.db
